{% import "_params.html.jinja2" as params %}
{% set heading_level = options.get("heading_level", 2) %}
{% set base_id = entity._identifier | replace(".", "--") %}
{% set sig = entity.signature %}

{{ ("<code>" ~ sig ~ "</code>") | heading(heading_level, role="function", id=base_id, toc_label=sig) }}

{% if entity.doc_intro %}
{{ entity.doc_intro | convert_markdown(heading_level - 1, base_id) }}
{% endif %}

{{ params.parameters(entity, heading_level + 1, base_id) }}

{% if entity.doc_sections %}
{{ entity.doc_sections | convert_markdown(heading_level - 1, base_id) }}
{% endif %}
