{% import "_params.html.jinja2" as params %}
{% set heading_level = options.get("heading_level", 2) %}
{% set base_id = entity._identifier %}
{% set sig = entity.signature %}

{{ params.signature_heading(sig, entity.return_type, heading_level, base_id, "function", sig) }}

{% if entity.doc_intro %}
{{ entity.doc_intro | convert_markdown(heading_level - 1, base_id) }}
{% endif %}

{{ params.parameters(entity, heading_level + 1, base_id) }}

{% if entity.doc_sections %}
{{ entity.doc_sections | convert_markdown(heading_level - 1, base_id) }}
{% endif %}
